<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of books</title>
    <link rel="stylesheet" href="styleOfBook.css"/>
    <script src="funcOfBook.js"></script>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="header" align="center">
    <h2>Book List</h2>
</div>
<div class="body" align="center">
    <form>
            <span>
                <input type="button" class="btn" value="Create" th:onclick="|window.location.href ='@{/createNewBook}'|"/>&ensp;&ensp;&ensp;&ensp;
                <input type="button" class="btn" value="Update" onclick="updateUnit()"/>&ensp;&ensp;&ensp;&ensp;
                <input type="button" class="btn" value="Delete" onclick="deleteBook()"/>
            </span>
        <br><br>
        <th:block th:if="${bookList.size()!=0}">
        <table class="tbl" cellpadding="6" cellspacing="4" border="1">
            <tr>
                <td><input type="checkbox" id="selectedAll" onclick="selectAll()"></td>
                <th align="center">Book ID</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Publishing Year</th>
            </tr>
            <tr th:each="bookInf:${bookList}">
                <td><input type="checkbox" name="checkUnit" onclick="check()" th:value="${bookInf.getId()}"/></td>
                <td th:utext="${bookInf.getId()}" align="center">Id</td>
                <td th:utext="${bookInf.getName()}">Name</td>
                <td th:utext="${bookInf.getAuthor()}">Author</td>
                <td th:utext="${bookInf.getPrice()}">Price</td>
                <td th:utext="${bookInf.getPublishingYear()}" align="center">Publishing year</td>
            </tr>
        </table>
        </th:block>
        <th:block th:if="${bookList.size()==0}">
            <p class="msg" th:utext="${msg}"></p>
        </th:block>
    </form>
</div>
</body>
</html>
